PYTHONPATH=.

# LLM Provider (e.g. OpenAI)
# LLM_MODEL="openai/<model_of_choice>"
# OPENAI_API_KEY=<your_openai_api_key>

# For metrics-computation-engine (MCE) if using observability stack
# OPENAI_ENDPOINT=https://api.openai.com/v1
# OPENAI_MODEL_NAME=<model_name>

OPENAI_TEMPERATURE=0.7

# Transport (default SLIM)
DEFAULT_MESSAGE_TRANSPORT=SLIM
TRANSPORT_SERVER_ENDPOINT=http://localhost:46357
